# .env
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
# llm config
LLM_API_KEY=your_api_key_here
LLM_URL=https://api.minimax.io/v1/chat/completions
LLM_MODEL=MiniMax-M2.7
LLM_TEMPERATURE=0.7
LLM_TOP_P=0.95
LLM_MAX_TOKENS=2048
LLM_SYSTEM_PROMPT_FILE=system_prompt.md# system prompt file placed in prompt
## if prompt file not found: "You are a helpless AI assistant. Please reply in English with Japanese Katakana style."